doctype html

html
    head
        title= `${title}`
        link(rel='stylesheet' type="text/css" href='/bootstrap.min.css')
        link(rel='stylesheet' type="text/css" href='/reg_css.css')
        link(rel='stylesheet' type="text/css" href='/login.css')
        link(rel='stylesheet' type="text/css" href='/searchbook.css')
        link(rel='stylesheet' type="text/css" href='/bookdata.css')
        
    body
        h1#headh1 Read Book App

        block content