extends layout

block content
 .wrapper
    #formContent
        // Login Form
        form(action='#', method='POST')
            input.log(type='text' name='name' placeholder='User Name')
            br
            input.log(type='password' name='password' placeholder='password')
            br
            br
            input(type='submit' value='Log In')
            // Remind Passowrd
            p #{err}
            #formFooter
            a.underlineHover(href='/register') New User Register Here!
