extends layout

block content
  
 .wrapper
    p #{err}
    #formContent
      form(action='#', method='POST')
        input#inp(type='text' name='name' placeholder='Enter Name' )
        br
        input#inp(type='Email' name='Email' placeholder='Enter Email')
        br
        input#inp(type='password' name='password' placeholder='Password')
        br
        input#inp(type='password' name='confirm_password' placeholder='Confirm Password')
        br
        input(type='submit' value='Create My Account')
        // Remind Passowrd
        a(class='logout' href='/login') Log In
    #formFooter
    