extends layout
block content
    a(class='logout' href='/login') SignOut
    #page-banner
        form(action='#',method='POST')
            input(type='text' name='book_search' placeholder='Search books...')
            button(id='search-book') Search Book
    table(cellspacing='1',id='t1')
        thead
            tr
                th Name Of Book
                th Description
                th Rating
                th Link
                th Add Book
        tbody
            each book in results
                tr(id='tr1')
                    td=book.title
                    td=book.description
                    td=book.averageRating
                    td=book.link
                    td
                     form(action='/addtobook',method='POST')
                            button(id='search-book') Add Book
