 input.log{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input.log:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input.log:placeholder {
    color: #cccccc;
  }
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  p{
    color: red;
    font-style: italic;
  }